<html lang="en">
  <%- include('./partials/head.EJS') %>
  <body>
    <%- include('./partials/nav.EJS') %>

    <div class="not-found content">oops, page not found</div>
    <%- include('./partials/footer.EJS') %>
  </body>
</html>
