<html lang="en">
  <%- include('./partials/head.EJS') %>
  <body>
    <%- include('./partials/nav.EJS') %>

    <div class="about content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ea enim
        iusto? Velit cumque vel, neque, eum voluptate nobis reprehenderit
        suscipit accusamus sequi cum error magni ea ut nemo laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ea enim
        iusto? Velit cumque vel, neque, eum voluptate nobis reprehenderit
        suscipit accusamus sequi cum error magni ea ut nemo laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ea enim
        iusto? Velit cumque vel, neque, eum voluptate nobis reprehenderit
        suscipit accusamus sequi cum error magni ea ut nemo laborum.
      </p>
    </div>
    <%- include('./partials/footer.EJS') %>
  </body>
</html>
